FOODFLOW_INTERNAL_EMAIL=
FOODFLOW_INTERNAL_PASSWORD=
FOODFLOW_SESSION_SECRET=


VITE_SUPABASE_URL=https://uyoqwcxgbierzffatndk.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_mKkZjaunz9xxgBb68XrrpA_rTB-gCvc
